.archive h1{
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    height: 34px;
    font-size: 28px;
    font-weight: 500;
    font-family: lato;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2d2d2d;
    text-decoration: underline 2px #979797;
    text-underline-offset: 14px;
}

.react-calender{
    position: absolute;
    left: 38%;
}
