.section__padding{
    padding-top: 54px;
    padding-left: 102px;
    padding-right: 102px;
    padding-bottom: 9px;
}

.downlaod__padding{
    padding: 212px 50px;
}

.about__padding{
    padding: 41px 158px;
}